{{#if success_message}}
    <div class="alert alert-success">{{success_message}}</div>
{{/if}}
{{#if delete_message}}
<div class="alert alert-success">{{delete_message}}</div>
{{/if}}
{{#if category_created}}
<div class="alert alert-success">{{category_created}}</div>
{{/if}}
{{#if category_deleted}}
<div class="alert alert-success">{{category_deleted}}</div>
{{/if}}
{{#if category_updated}}
<div class="alert alert-success">{{category_updated}}</div>
{{/if}}

